                <section>
                    <h4 class='expandable'><b>Questions</b></h4>
                    <div id='if-questions'>

                        What does this program do?
                        <div class='prettyheader'>Question 1</div>
                        <?prettify lang=c?>
                        <pre class='prettyprint linenums'>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main (int argc, char* argv[]) {

    int a = 2;
    int b = 4;

    if (b/a == a) {
        printf("We can do maths in C!");
    }

    return EXIT_SUCCESS;
}</pre>
                    </div>
                </section>
