body {
    background-color: #CBF2F0;
    font-size: 15px;
}

.container {
    max-width: 800px;
}

section div {
    padding-left: 15px;
}

.breadcrumb {
    background-color: #cff;
    margin-bottom: 15px;
}
.breadcrumb>.active {
    color: #555;
}

a,
a:hover {
    color: #6f1a3b;
}

h1 {
    font-size: 48px;
}

.sub {
    color: #cc7f90;
    margin-top: 0;
}

h2 {
    font-size: 27px;
}

h3.para-heading {
    margin-left: 10px;
}

/* wtf bootstrap? */
#welcome ol,
#modules ol {
    margin-left: 30px;
}

#welcome,
#modules {
    border-bottom: 1px dashed #555;
}

.keyword {
    color: #0a0;
    background-color: #f9f2f4;
    padding: 2px 4px;
    font-style: italic;
    border-radius: 4px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    #info {
        border-right: 1px dashed #555;
    }

    #modules {
        border: none;
    }

    #rules {
        padding-left: 30px;
    }
}
