{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html class='no-js iem7'>
<![endif]-->
<!--[if lt IE 9]>
<html class='no-js lte-ie8'>
<![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

    <head>
        <meta charset='utf-8'>
        <title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>

        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

        <link href='{{ root_url }}/favicon.png' rel='icon'>

        <link href='{{ root_url }}/stylesheets/bootstrap.min.css' rel='stylesheet'>
        <link href='{{ root_url }}/stylesheets/bootstrap-glyphicons.css' rel='stylesheet'>
        <link href='{{ root_url }}/stylesheets/emanuel.css' rel='stylesheet'>
        <link href='{{ root_url }}/stylesheets/sticky_footer.css' rel='stylesheet'>

        <script src='{{ root_url }}/javascripts/modernizr-2.0.js'></script>
        <script src='{{ root_url }}/javascripts/jquery-2.1.0.min.js'></script>

        <script>
            /* Reveal top when you scroll 500px down the page */
            $(document).ready( function () {
                var width = $(window).width();
                $(window).resize(function(){
                    if($(this).width() != width){
                        width = $(this).width();
                        if ($(window).width() < 930) {
                            $('#top').hide();
                        } else if ($(this).scrollTop() >= 500) {
                            $('#top').fadeIn();
                        }
                    }
                });

                $(document).scroll(function() {
                    if ($(this).scrollTop() >= 500 && $(window).width() >= 930) {
                        $('#top').fadeIn();
                    } else {
                        $('#top').fadeOut();
                    }
                });
            });
        </script>
    </head>
    <body>
        <div id='main'>
            <div class='container'>
                <div class='text-center page-header'>
                    <h1><a href='{{ root_url }}/'>{{ site.title }}</a></h1>
                    {% if site.subtitle %}<h2 class='sub'>{{ site.subtitle }}</h1>{% endif %}
                </div>
                <div id='nav-btns'>
                    <a href='#breadcrumb'><div id='top'>
                        Top
                    </div></a>

                    {% if page.title != 'home' %}
                    <a href='{{ root_url }}/'><div id='home'>
                        Home
                    </div></a>
                    {% endif %}
                </div>

                {{ content | expand_urls: root_url }}
            </div>
        </div>

        <footer role='contentinfo'>
            <p>
                Developed and written by Rafi Blecher, Hannah Beder<br />
                <span class='credit'>Powered by <a href='http://octopress.org'>Octopress</a></span>
            </p>
        </footer>
    </body>
</html>
