                <section>
                    <h4 class='expandable'><b>Questions</b></h4>
                    <div id='arrays-questions'>
                        <ol>
                            <li>
                                Store the square numbers less than 100 in an
                                array, and then print them out in reverse order.
                            </li>
                            <li>
                                Generate the first 15 numbers in the Fibonacci
                                sequence and store them in an array, and then
                                print them out in order.
                            </li>
                        </ol>
                    </div>
                </section>
