                <section>
                    <h4 class='expandable'><b>Questions</b></h4>
                    <div id='functions-questions'>
                        Solve the following problems, using functions to
                        calculate answers
                        <ol>
                            <li><a href='http://orac.amt.edu.au/cgi-bin/train/problem.pl?set=aio08int&problemid=355'>Ladybugs</a></li>
                            <li><a href='http://orac.amt.edu.au/cgi-bin/train/problem.pl?set=aio07int&problemid=334'>Wetlands</a></li>
                            <li><a href='http://orac.amt.edu.au/cgi-bin/train/problem.pl?set=aio09int&problemid=422'>Nomnomnom</a></li>
                        </ol>
                    </div>
                </section>
