                <section>
                    <h4 class='expandable'><b>Questions</b></h4>
                    <div id='user-input-questions'>
                        <ol>
                            <li>Write a "higher or lower" guessing game. Make
                                sure that it follows this exact format
                                (computer is the first line)<br />
                                <pre>
I have chosen a number between 1 and 100. Start guessing!
37
Higher
79
Lower
63
Higher
64
Correct! You win!

I have chosen a number between 1 and 100. Start guessing
...
</pre><br />

                                <div class='alert alert-warning'>
                                    <b>Note</b>: You'll need to look up how to generate random numbers in C
                                </div>

                                <section>
                                    <h5 class='expandable'><b>Challenge</b></h5>
                                    <div id='higher-lower-challenge'>
                                        Write a program that follows this
                                        exact format. (computer is the first line)
                                        <br />
                                        <div class='alert alert-warning'>
                                            <b>Note</b>: You'll want to look up
                                            the Binary Search algorithm to make
                                            your program as good as possible.
                                            <br />
                                            You'll also need to look up how to
                                            check if two strings are equal.
                                            <code>==</code> will not work.
                                        </div><br />
                                        <pre>
Have you chosen a number? My first guess is 42.
Higher
My guess is 73
Higher
My guess is 81
Correct
Yay!

Have you chosen a number? My first guess is 3.
...
</pre>
                                    </div>
                                </section>
                            </li>
                    </div>
                </section>
