                <section>    
                    <h4 class='expandable'><b>Questions</b></h4>
                    <div id='else-questions'>

                        What do these programs do?
                        <div class='prettyheader'>Question 1</div>
                        <?prettify lang=c?>
                        <pre class='prettyprint linenums'>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main (int argc, char* argv[]) {

    int myLetter = 'H';

    if (myLetter == 'H') {
        printf("My name is %cannah!", myLetter);
    } else {
        printf("My name is not %cannah!", myLetter);
    }

    return EXIT_SUCCESS;
}</pre>

                        <div class='prettyheader'>Question 2</div>
                        <?prettify lang=c?>
                        <pre class='prettyprint linenums'>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main (int argc, char* argv[]) {

    int myLetter = 'L';

    if (myLetter == 'H') {
        printf("My name is %cannah!", myLetter);
    } else {
        printf("My name is not %cannah!", myLetter);
    }

    return EXIT_SUCCESS;
}</pre>                   </div>
                </section>
