        <section>
            <h4 class='expandable'><b>Examples</b></h4>
            <div id='ls-examples'>
                <ol>
                    <li>
                        <?prettify lang=bash?>
                        <pre class='prettyprint'>$ pwd
/home/rafi
$ ls
courses  courses.sh  Desktop  Documents  Downloads  projects  Music  Pictures  Templates  Videos
$ ls projects
caravan  csesoc-website-v2  thecollective  weedit
$ ls /home/rafi/projects
caravan  csesoc-website-v2  thecollective  weedit
$ ls -l projects
total 24
drwxr-xr-x  8 rafi rafi 4096 Jan 15 03:01 caravan
drwxr-xr-x  8 rafi rafi 4096 Feb 17 23:17 csesoc-website-v2
drwxr-xr-x 16 rafi rafi 4096 Feb 27 01:13 education
drwxr-xr-x 10 rafi rafi 4096 Feb 27 15:21 emanuel-computing
drwxr-xr-x  5 rafi rafi 4096 Feb  5 13:52 thecollective
drwxr-xr-x 14 rafi rafi 4096 Feb 27 00:16 weedit</pre>
                    </li>
                </ol>
            </div>
        </section>
