body {
    background-color: #DEF;
    /*
    background-color: #CBF2F0;
    */
    font-size: 15px;
}

#nav-btns {
    position: absolute;
    left: -80px;
    top: 0;
}

#top,
#home {
    display: none; /* on mobile */

    position: fixed;

    /*
    background-color: #eff;
    */
    background-color: #CDF;

    border-radius: 50px;
}

#top {
    top: 20%;
    padding: 20px 17.5px;
}

#home {
    top: 35%;
    padding: 20px 10px;
}

#top:before,
#home:before {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    display: inline-block;
    content: '';
}

#home:before {
    border-right-color: #CDF;
    /*
    border-right-color: #eff;
    */
    left: -19px;
    top: 22px;
}

#top:before {
    border-bottom-color: #CDF;
    /*
    border-bottom-color: #eff;
    */
    top: -19px;
    left: 21px;
}

.container {
    max-width: 800px;
    position: relative;
}

section > div:first-of-type {
    padding-left: 15px;
}

.breadcrumb {
    background-color: #CDF;
    margin-bottom: 15px;
}
.breadcrumb>.active {
    color: #555;
}
.breadcrumb>li+li:before {
    color: #55F;
}

a,
a:hover {
    color: #6f1a3b;
}

.page-header {
    padding-bottom: 0;
    border-bottom-color: #DDF;
}

h3.expandable,
h4.expandable,
h5.expandable {
    display: inline-block;
}

.expandable {
    cursor: pointer;
}

.expandable-icon:before {
    margin-right: 10px;
}

h1 {
    font-size: 38px;
    margin-bottom: 0;
}

.sub {
    color: #cc7f90;
    margin-top: 0;
}

h2 {
    font-size: 25px;
}

h3.para-heading {
    margin-left: 10px;
}

/* wtf bootstrap? */
#welcome ol,
#modules ol {
    margin-left: 30px;
}

#welcome,
#modules {
    border-bottom: 1px dashed #555;
}

pre {
    margin-top: 20px;
}

.prettyheader {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: -40px;
    padding-bottom: 30px;
    padding-top: 15px;
    text-align: center;
    background-color: #CDF;
    border-radius: 5px;
}

.keyword {
    color: #0a0;
    background-color: #f9f2f4;
    padding: 2px 4px;
    font-style: italic;
    border-radius: 4px;
    white-space: nowrap;
}

.alert-info {
    background-color: #fff0da;
    border-color: #f1dee8;
    color: #885039;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border-color: #99f;
}

.joke {
    border-radius: 20px;
    border: 1px dashed #aaf;
    padding: 10px;
    margin-left: 10px;
    max-width: 200px;
}

@media (min-width: 930px) {
    #home {
        display: block;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 27px;
    }

    #info {
        border-right: 1px dashed #555;
    }

    #modules {
        border: none;
    }

    #rules {
        padding-left: 30px;
    }
}

@media (max-height: 129px) {
    #home {
        display: none !important;
    }
}

@media (max-height: 412px) {
    #top {
        top: 9px;
    }

    #home {
        top: initial;
        bottom: 0;
    }
}
