                <section>
                    <h4 class=expandable><b>Questions</b></h4>
                    <div id='file-io-questions'>
                        <ol>
                            <li>Solve <a href='http://orac.amt.edu.au/cgi-bin/train/problem.pl?set=aic04int&problemid=111'>Bugs</a></li>
                            <li>Solve <a href='http://orac.amt.edu.au/cgi-bin/train/problem.pl?set=aio05int&problemid=244'>Cute Numbers</a></li>
                        </ol>
                    </div>
                </section>
