---
layout: default
title: "More C"
---

<div id='breadcrumb'>
    <ol class='breadcrumb'>
        <li><A href='{{ root_url }}/'>Home</a></li>
        <li class='active'>More C</li>
    </ol>
</div>

<div class='text-center'>
    <h2>More C</h2>
</div>

<section>
    <h3>Foreword</h3>
    <div id='foreword'>
        <em>*phew*</em>, so we've made it this far. Woohoo! Congratulations!<br /><br />

        Now things start getting really interesting. Hopefully we now have a
        solid foundation in C and the tools to code effectively. Now it's time
        to start writing some useful programs of our own.
    </div>
</section>

<section>
    <h3 class='expandable'>The Anatomy of a C Program - Revisited</h3>
    <div id='program-outline'>
        The first thing we did when we started learning C was to memorise the
        outline of a C program. <em>That was bad. Memorising instead of
        learning is bad.</em> Now that we're comfortable with C, it's time to
        fill that glaring gap in our knowledge. Let's look at the C outline
        line-by-line and discuss what it's doing.<br /><br />

        <div class='prettyheader'>The C Program Outline</div>
        <?prettify lang=c?>
        <pre class='prettyprint'>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main (int argc, char* argv[]) {

    // YOUR CODE GOES HERE

    return EXIT_SUCCESS;
}</pre><br />

        First, we have two lines that look similar:
        <code>#include &lt;stdio.h&gt;</code> and
        <code>#include &lt;stdlib.h&gt;</code>.<br />
        <code>#include</code> is a directive for the preprocessor - the
        tool that GCC uses to prepare files for compiling. Displaying text to
        the terminal (printing) is surprisingly difficult - after all, computers
        are really just microprocessors and other hardware, performing billions
        of tasks every second. How do we build up from there to making a program
        display text to the screen? Obviously, we don't want to solve this problem
        every time that we want our program to do this. Thus, some very clever
        people wrote a <span class='keyword'>library</span> that deals with all
        of our input and output for us. Input. Output. I. O. Standard IO. stdio.
        Looking familiar?<br /><br />

        However, the stdio library is huge. <a href='c-more/stdio.h'>It's 947 lines of
        rather complicated code</a>. We don't want to copy that code into our
        C files every time, either. And so we use the #include directive, which
        tells the preprocessor to copy all of the code into the file before
        compiling. Thus we have access to very common tools, without having to
        resolve problems every time we want a program to do something. Go back to
        the idea of abstraction, which we thought about when we began Intro to C -
        this is a perfect example.<br />
        Including stdlib.h gives us some useful tools as well - for example, the
        EXIT_SUCCESS that we return from the main function. From the C documentation:
        "This header defines several general purpose functions, including dynamic
        memory management, random number generation, communication with the
        environment, integer arithmetics, searching, sorting and converting."<br /><br />


        Second, we have the declaration of our main function:
        <code>int main (int argc, char* argv[]) { .. }</code><br />
        Functions will be covered later in more depth. Suffice it to say that
        the <code>main</code> function is the code that is run when we execute
        our compiled code. From there, we can run all of our code, and call
        other functions. We're also <em>passing in</em> two variables: an int
        called <code>argc</code> and an array of strings called <code>argv</code>.<br />
        Sometimes, instead of giving the computer input via stdin, we want to
        pass arguments to the program from the terminal.

        <div class='prettyheader'><small>Which is nicer?</small></div>
        <?prettify lang=bash?>
        <pre class='prettyprint'>$ echo "Hello World"
Hello World
$ cat
Hello World
Hello World
$</pre>

        argc and argv are C's method for reading these arguments. argc is the
        argument counter, which provides the number of arguments provided to
        the program. argv is the argument vector - a vector is a one-dimensional,
        or standard, array - which contains all of the arguments. We combine
        these to access the arguments provided:

        <div class='prettyheader'>args.c</div>
        <?prettify lang=c?>
        <pre class='prettyprint linenums'>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main(int argc, char* argv[]) {

    int i;
    for (i = 0; i &lt; argc; i++) {
        printf("%s\n", argv[i]);
    }

    return EXIT_SUCCESS;
}</pre>

        <?prettify lang=bash?>
        <pre class='prettyprint'>$ gcc -Wall -Werror args.c -o args
$ ./args
./args
$ ./args Hello World
./args
Hello
World
$ ./args "Hello World"
./args
Hello World
$ ./args "Hello World" 1 2 3
./args
Hello World
1
2
3
$ ./args "Hello World" 1 "2 3"
./args
Hello World
1
2 3</pre><br />
        <div class='alert alert-success'>
            <b>Note</b>: in C, <code>argv[0]</code> is always the way that the program was
            called. For example, <code>./args</code> or <code>/home/rafi/args</code> or
            <code>../args</code>.
        </div>

        Finally, we return EXIT_SUCCESS from our function. EXIT_SUCCESS is defined in
        stdlib.h: <code>#define EXIT_SUCCESS    0   /* Successful exit status.  */</code><br />
        <code>#define</code> is another preprocessor instruction. What it does is,
        before compiling, it finds <code>EXIT_SUCCESS</code> everywhere in your code
        and replaces it with <code>0</code>. When programming, we often use<br />
        <code>#define TRUE 1</code> and <code>#define FALSE 0</code> (remember Boolean
        logic from Intro to C?)<br /><br />

        The way that operating systems work (which is beyond the scope of this course)
        is that when a program <span class='keyword'>terminates</span>, it
        provides an <span class='keyword'>exit code</span> for the operating
        system, to say "everything went okay" or "there was a problem", or even
        to specify a problem. An exit code of 0 means "everything went okay". We
        could just <code>return 0;</code> from the main function, but this isn't
        nice style. To be honest, I could do this, but it's just not nice style:<br />

        <?prettify lang=c?>
        <pre class='prettyprint'>
#include &lt;stdio.h&gt;
int main(){printf("hello world\n");return 0;}</pre>
    </div>
</section>

<section>
    <h3 class='expandable'>User input</h3>
    <div id='user-input'>
        Often, we want our program to interact with the user in some way. We
        can already talk to the user, by printing out to the screen. Now we
        need a way for the user to talk to the code. We tend to use
        <code>scanf</code> to read input - similar to printf, we prepare
        a string to read from the user, and provide a place to save the
        information.<br /><br />

        <?prettify lang=c?>
        <pre class='prettyprint linenums'>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main(int argc, char* argv[]) {
    int favNum;
    printf("Enter your favourite number: ");
    scanf("%d", &amp;favNum);
    printf("Your favourite number is %d\n", favNum);

    return EXIT_SUCCESS;
}</pre><br />

        Let's break this down.<br />
        <ol>
            <li>We declare an int called favNum, but don't bother giving it a
                value.</li>
            <li>We prompt the user for their input. We don't print a newline -
                scanf will only work after the user presses enter, so the
                interaction looks like this: <pre>Enter your favourite number: 5
Your favourite number is 5</pre></li>
            <li>We scan in the user's input. We give a prepared string,
                <code>"%d"</code>, to tell scanf to wait for a number followed
                by a newline. We also point to the favNum variable with
                <code>&amp;</code> (more on this in the Further C module).</li>
            <li>Finally we print our response, passing in favNum.</li>
        </ol>


        {% include c-more/user-input-examples.html %}
        {% include c-more/user-input-questions.html %}
    </div>
</section>

<section>
    <h3 class='expandable'>File I/O</h3>
    <div id='file-io'>

    </div>
</section>

<section>
    <h3 class='expandable'>Functions</h3>
    <div id='functions'>
    </div>
</section>
